.bg-azul { background: #38a2a8; }
.bg-azul-marinho { background: #14666b; }
.bg-cinza { background: #e2e2e2; }
.bg-cinza-claro { background: #ededed; }
.bg-cinza-escuro { background: #c7c7c7; }
.azul-fonte { color: #012642 !important; }
.azul-fonte-numero { color: #38a2a8 !important }
.azul-escuro-fonte { color: #19989d !important; }
.azul-fonte-alternativo { color: #22989e !important; }
.azul-marinho-fonte { color: #89b2b5 !important }
.azul-suave { color: #a1b1bc !important }
.branco-fonte { color: #ffffff !important; }
.chumbo-fonte { color: #373737 !important; }
.bg-aqua{ background: #57a97d !important; }
.bg-aqua-alt{ background: #69c695 !important; }